.body{
    
    padding-top: 0px;
    margin-left: 0px;
    background-color: black;
    border-left-style:groove;
    border-color: #ffa600;
    border-width: 40px;
    /* cursor:url(21321.png),default; */
}
.h1{
    font-size:150px;
    text-align: center;
    /* color: #f4d511; */
    color:rgb(221, 188, 6);
}
.ile{
    color: #9c0404;
}
.header{
    /* position: sticky;
    top:0; */
    
    padding-bottom: 0;
    margin-top: 0;
    background-image: url("ironman.jpg") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size: cover;
    height: 50vh;
}
.button{
    background-color: rgb(0, 0, 0);
    /* //font-style: italic; */
    margin-top: 0px;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(63, 234, 249);
}
.anchor{
    color: rgb(63, 234, 249);
    font-size: 20px;
}
/* aside{
    float: right;
    padding-right: 0px;
} */
.section{
    margin-left: 20px;
    background-color:rgb(161, 3, 3);
    color: antiquewhite;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(1, 255, 94);
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.img{
    margin-right:0;
    /* border-left-style:double;
    border-right-style:double;
    border-right-width:10px;
    border-right-color:blue;
    border-left-width: 20px;
    border-top-style:double;
    border-top-width:10px;
    border-top-color:rgb(187,70,8);
    border-bottom-style:double;
    border-bottom-width:10px;
    border-bottom-color:rgb(187,70,8); */
    border-style: double;
    border-color: rgb(7, 7, 234);
    border-width:10px;

}

.button:hover{
    font-size: 45px;

}
fieldset {
    background-color: #eeeeee;
    
  }
  
  legend {
    background-color:black;
    color: bisque;
    padding: 5px 10px;
  }
  fieldset{
    color: black;
    background-color: #a80505;
    background-image: url("spider.jpg") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size:cover;
    height: 70vh;
  }
/* .form{
    color: antiquewhite;
    
} */

.table{
    border: 2px solid white;
}
.in{
    color: antiquewhite;
}
.fbut{
    font-size: 25px;
    color: bisque;
    background-color: black;
}
.legend{
    color: bisque;
}
.fbut:hover{
    font-size: 28px;
}
#aboutme{
    background-image: url("captain-america-shield-image.jpg") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size: cover;
    height: 50vh;
    color: rgb(255, 183, 0);
}

#education{
    background-image: url("80hICM.webp") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size:cover;
    height: 50vh;

}
#interest{
    background-image: url("wp2028631.jpg") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size:cover;
    height: 85vh;
}
#review{
    background-image: url("spider.jpg") ;
    background-repeat: no-repeat;
    
    background-attachment:local;
    background-size:cover;
    height: 100vh;
}
